.header-pages {
    min-height: 416px;
    background: url("../../img/services-bg.png") center center/ cover no-repeat;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 110px;
}

.header-pages__title {
    font-size: 72px;
    font-weight: 800;
    line-height: 98px;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: white;
    margin-top: -42px;
    margin-bottom: 82px;
}