.review {
    background: #F4F5F5;
    padding: 62px 0 88px 0;
}

.review__title {
    color: #202020;
    font-weight: 800;
    font-size: 36px;
    text-transform: uppercase;
    margin-top: 18px;
}