.socials {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-right: 8px;
}

.socials__item {
    margin-right: 8px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    position: relative;
}

.socials__item--icon--tg .socials__link:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    background: url('../../icons/css_sprites.png') -122px -10px;
    transition: .5s;
}

.socials__item--icon--tg .socials__link:hover:after {
    opacity: 0;
}

.socials__item--icon--tg .socials__link:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    background: url('../../icons/css_sprites.png') -122px -66px;
    opacity: 0;
    transition: .5s;
}

.socials__item--icon--tg .socials__link:hover:before {
    opacity: 1;
}

.socials__item--icon--vk .socials__link:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    background: url('../../icons/css_sprites.png') -10px -122px;
    transition: .5s;
}

.socials__item--icon--vk .socials__link:hover:after {
    opacity: 0;
}

.socials__item--icon--vk .socials__link:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    background: url('../../icons/css_sprites.png') -66px -122px;
    opacity: 0;
    transition: .5s;
}

.socials__item--icon--vk .socials__link:hover:before {
    opacity: 1;
}

.socials__item--icon--fb .socials__link:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    background: url('../../icons/css_sprites.png') -10px -10px;
    transition: .5s;
}

.socials__item--icon--fb .socials__link:hover:after {
    opacity: 0;
}

.socials__item--icon--fb .socials__link:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    background: url('../../icons/css_sprites.png') -66px -10px;
    opacity: 0;
    transition: .5s;
}

.socials__item--icon--fb .socials__link:hover:before {
    opacity: 1;
}

.socials__item--icon--ig .socials__link:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    background: url('../../icons/css_sprites.png') -10px -66px;
    transition: .5s;
}

.socials__item--icon--ig .socials__link:hover:after {
    opacity: 0;
}

.socials__item--icon--ig .socials__link:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    background: url('../../icons/css_sprites.png') -66px -66px;
    opacity: 0;
    transition: .5s;
}

.socials__item--icon--ig .socials__link:hover:before {
    opacity: 1;
}